{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": { "browser": true },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript", "prettier"],
  "rules": {
    "prettier/prettier": ["error", {
      "endOfLine":"auto"
    }],
    "import/prefer-default-export": 0
  }
}
